<style>
a:link {
  color: green;
  text-decoration: none;
  }
</style>

<h1><%= @hospital.name %></h1>

<h3>Doctors who work here:</h3>
<% @hospital.doctors.each do |d| %>
<%= link_to d.name, doctor_path(d) %><br>
<%= d.specialty.name%><br><br>

<% end %>

<p>Back to <%= link_to "Homepage:", patients_path%></p>